body {
    min-height: calc(100vh - 20px);
    padding: 10px 100px;
    align-content: center;
    background-color: black;
}

a {
    color: red;
    margin-bottom: 10px
}

a::before {
    content: "";
}

main {
    margin: auto;
    text-align: center;

    & a img {
        margin-bottom: 10px;
    }
}

.box {
    border: dashed 3px red;
    background-color: black;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: darkred;
    text-align: left;

    & b {
        color: red;
    }
}

#back {
    display: block;
    text-align: left;

}

h1 {
    color: white
}

h2,
h3,
h4,
h5,
h6 {
    color: red;
}

.grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.char-gallery {
    aspect-ratio: 2.5/3;
    margin: auto;
    text-align: center;
    height: 90%;
    width: 90%;
}


.info-box {
    margin-right: 30px;
}

.blinkies img {
    height: 20px;
}

.slides-container img {
    object-fit: contain;
    height: 95%;
    width: 90%;
    margin: auto;
}

.slides-cantainer a {
    margin: 5px !important
}

span.dot {
    display: none !important
}

.ref-button {
    color: darkred;
    display: block !important;
    position: absolute;
    left: 0;
    top: -20px;
    z-index: 10;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .grid-2 {
        display: block;
    }

    .info-box {
        margin: auto;
        margin-bottom: 20px
    }

    body {
        padding: 10px;
    }
}