@font-face {
    font-family: 'arcadeclassic';
    src: url('/fonts/arcadeclassic-webfont.woff2') format('woff2'),
        url('/fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karmatic arcade';
    src: url('/fonts/karmaticarcade-webfont.woff2') format('woff2'),
        url('/fonts/karmaticarcade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merchant copy';
    src: url('/fonts/merchantcopy-webfont.woff2') format('woff2'),
        url('/fonts/merchantcopy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ashhmillr';
    src: url('/fonts/ashhmillr-regular-webfont.woff2') format('woff2'),
         url('/fonts/ashhmillr-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ashh';
    src: url('/fonts/ashh-regular-webfont.woff2') format('woff2'),
         url('/fonts/ashh-regular-webfont.woff') format('woff'),
         url('/fonts/shh-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eggfont';
    src: url('/fonts/ashhmillr_eggfont-webfont.woff2') format('woff2'),
         url('/fonts/ashhmillr_eggfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



* {
    scrollbar-color: deeppink white;
    scrollbar-width: thin;

}

a{
    margin: 0;
}

ol{    
    list-style: disc;  
}

::selection {
  color: white;
  background: deeppink;
}
::-moz-selection {
  color: white;
  background: deeppink;
}


body {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    background: #1B9CD5;
    background-position: center;
}

.dark-mode {
    background-color: #161227;
    color: white;
}

.dark-toggle{
    background-color: #5F3E90;
    border: #161227 solid 5px;
    color: white;
    cursor: pointer;
}
.dark-mode .dark-toggle{
    background-color: #1B9CD5;
    border: white solid 5px;
    color: #262649;
}

hr {
    border: none;
    border-top: 3px solid;
    width: 40%;
    margin: 10px auto;
}

.hr-dashed {
    border-top: 3px dashed;
}

.vr {
    border: none;
    border-left: 3px solid white;
    height: 50%;
    margin: auto;
}


mark {
    padding: 1;
}

.dark-mode mark a{
    color: #262649;
}



#goback {
    font-family: 'arcadeclassic';
    position: fixed;
    top: 10;
    left: 20;
    font-size: 1.5Em;
    transition: .4s;
    text-decoration: none;
    color: white;
}

#gohome {
    position: fixed;
    top: 23;
    left: 180;
    color: white;
    transition: .4s;
}


#wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90%;
    padding-top: 2%;
}










/*COLOUR*/
.blue {
    color: darkblue;
}

.light-blue {
    color: deepskyblue;
}

.mid-blue{
    color: royalblue;
}

.red {
    color: #E64933;
}

.yellow {
    color: #FFBE3C;
}

.white {
    color: white;
}

.black {
    color: #262649;
}

.cyan {
    color: #6DD1E5;
}

.pink{
    color: deeppink;
}









/*FONTS*/


html {
    font-family: 'merchant copy';
    text-wrap: normal;
    color: #111132;
    font-size: 1.2Em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'arcadeclassic';
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}

.big {
    font-family: 'arcadeclassic';
    font-style: normal;
    font-size: 1Em;
    text-transform: uppercase;
    text-align: center;
}

.bigger {
    font-family: 'arcadeclassic';
    font-style: normal;
    font-size: 1.2Em;
    text-transform: uppercase;
    text-align: center;
}

.biggest {
    font-family: 'arcadeclassic';
    font-style: normal;
    font-size: 1.5Em;
    text-transform: uppercase;
    text-align: center;
}

.bold {
    font-family: 'karmatic arcade';
    font-style: normal;
    font-size: .6Em;
    text-align: center;
    margin-top: 0;
}


.bolder {
    font-family: 'karmatic arcade';
    font-style: normal;
    font-size: 1Em;
    text-align: center;
    margin-top: 0;
}

p,
li,
a {
    margin: 10;
}

a {
    color: blue;
}

.dark-mode a{
    color: deeppink;
}

a:hover{
    color: crimson;
}

.dark-mode a:hover{
    color: deepskyblue;
}

.black {
    font-size: 1Em;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}


















/*BOXES*/


#home {
    margin: auto;
    position: relative;
    top: 0;
    padding: 80px 50px 20px 20px;
    border: solid 7px #02021C;
    border-radius: 20px;
    width: 60%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    background: right no-repeat url(/images/rainbox.png);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.dark-mode #home, .dark-mode #site-map{
    background-color: #533C9D;
}



#homent {
    margin: 0 50% auto;
    position: relative;
    transform: translate(-50%, 0);
    padding: 40px;
    padding-top: 80px;
    padding-bottom: 20;
    border: solid 7px #02021C;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    background-color: #E8F5F8;
    align-content: center;
    align-items: center;
}











/*SONG*/

#sotw-archive {
    width: 450px;
    height: 470px;
    position: absolute;
    right: 50px;
    margin-top: 100;
    display: block;
    background-color: #3C3772;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
    color: white;
}

.sotw-archive-box {
    position: relative;
    padding: 10;
    border: 3px white solid;
    border-radius: 20px;
    color: white;
    margin-bottom: 20;
}

.sotw-archive-box a {
    color: white;
    transition: .4s;
}

.sotw-archive-box a:hover {
    color: #A7EAFF;
}

#sotw-current {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    height: 450px;
    position: absolute;
    top: 100;
    left: 100;
    color: white;
    font-size: 1Em;
    border: 5px solid;
}






/*SLIDER*/




#slider {
    width: 150px;
    height: 100px;
    background-color: #6DD1E5;
    background-size: contain;
    border: 5px solid dodgerblue;
    overflow: hidden;
    place-items: center;
    display: grid;
}

.slide-track {
    width: 2300px;
    animation: scroll 40s linear infinite;
    display: flex;
    padding-left: 200px;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3000px)
    }
}

.slide {
    width: auto;
    display: flex;
    margin-left: 20px;
}










/*FLEX BOX*/

.flex-container {
    display: flex;
}

.flex-child {
    margin: 0 auto;
}











/*BLOG*/

.blog {
    border-radius: 10px;
    border: dashed 2px #E64933;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color .2s;
    width: 90%;

}

.blog:hover {
    background-color: white;
}

.blog-img {
    height: 100px;
    max-width: 90%;
    margin: auto;
    display: block;
}













/*SITEMAP*/

#site-map {
    margin: 0;
    position: relative;
    left: 50px;
    padding: 40px;
    width: 50%;
    font-size: 1.3Em;
    background-color: white;
}

#site-map-box {
    width: 400px;
}

#site-map a {
    font-size: 1Em;
    margin-left: 0;
}

#site-map li {
    font-size: 1Em;
    text-transform: uppercase;
    list-style: none;
}






/*WEBMASTER*/
#webmaster-info {
    width: 30%;
    height: 600px;
    background-color: aliceblue;
    border: 5px black solid;
    border-radius: 20px;
    position: absolute;
    top: 30;
    right: 10;
    font-size: 1.2Em;
    padding: 10px;
    line-height: 1;
}


#webmaster-info mark {
    padding: 5;
    text-transform: uppercase;
    font-weight: 600;
}

#big-wm {
    font-family: 'arcadeclassic';
    font-style: normal;
    font-size: 1.6Em;
    text-transform: uppercase;
    text-align: center;
}

#wrapper-webmaster {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 80%;
    padding: 5% 2% 0% 2%;
}


#webmaster-box {
    width: 25%;
    height: 150;
    padding: 15px;
    background-color: #fff000;
    border: 5px solid black;
    margin-top: 20;
    overflow-y: scroll;
}












/*CREDITS*/

.credits-box {
    background-color: white;
    border: 5px solid black;
    padding: 50px;
    margin-left: 25%;
    margin-top: 20;
    border-radius: 20px;
}

#credits-navigation {
    display: block;
    position: fixed;
    width: 20%;
    left: 100;
    top: 100;
}

.credits-nav {
    display: block;
    margin-bottom: 20;
    background-color: #CCF1FF;
    width: 60%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 10;
    font-family: 'karmatic arcade';
    color: deepskyblue;
    border: solid 5px deepskyblue;
    border-radius: 20px;
    transition: .6s;
    font-size: .9Em;
}

.credits-nav:hover {
    background-color: white;
    border-color: dodgerblue;
    color: dodgerblue;
    letter-spacing: 2;
}

#credits-navigation a {
    text-decoration: none;
}

.credits-current, .credits-current:hover{
    background-color: #FDD44E;
    color: #CE3618;
    border: solid 5px #EE5132;
}


.pic {
    height: 200;
    margin: auto;
    margin-top: 20;
}

#credits-pic {
    display: inline-grid;
    margin: 20;
    align-content: space-between;
    background-color: white;
    border: 2px deepskyblue dashed;
    padding: 20;
    max-width: 350;
}

#credits-icons {
    display: inline-grid;
    margin: 10;
    align-content: space-between;
    background-color: #FDD44E;
    border: 2px deepskyblue dashed;
    padding: 20;
    max-width: 350;
}

.icon {
    height: 100;
    margin: auto;
    margin-top: 20;
}

#myBtn {
    position: fixed;
    bottom: 20;
    left: 7%;
    width: 150;
    font-size: 1.2Em;
    border-radius: 20px;
    border: 5px solid darkorange;
    color: darkorange;
    background-color: antiquewhite;
    transition: .4s;
    font-family: 'merchant copy';
}

#myBtn:hover {
    background-color: #FDD44E;
    border-color: #EE5132;
    color: #EE5132;
}


.credits-sub-navigation{
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
}

.credits-sub-nav {
    background-color: white;
    width: 60%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 10;
    font-family: 'karmatic arcade';
    color: deepskyblue;
    border: solid 5px black;
    border-radius: 20px;
    transition: .6s;
    font-size: .9Em;
    margin: 0 10 auto;
    text-decoration: none;
}

.credits-sub-nav:hover {
    background-color: #FFDEEF;
    border-color: deeppink;
    color: deeppink;
    letter-spacing: 2;
}





/* 
                    <div id="credits-stamp">
                        <p><a href=""></a> <a href="">art</a></p>
                        <img src="stamps/stamp0">
                    </div>  
*/













/*ART*/
#wrapper2 {
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    height: 90%;
}

#art-box {
    background-color: white;
    border: 5px solid black;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    width: 80%;
    height: 100%;
}

#art-inside {
    width: 90%;
    padding: 40 120;
    height: 90%;
}

#art-nav {
    width: 50px;
    height: 100%;
    background-color: #D8F6F3;
    align-content: center;
    align-items: center;
    transition: .4s;
    font-size: 3Em;
    padding: 0 20;
    color: #4BD7C8;
    position: absolute;
    top: 0;
}

#art-nav p{
    margin-top: 300px;
}

#art-nav:hover {
    background-color: #FFC8B9;
    color: #B60E3B;
}

.art-nav-left {
    left: 0;
}

.art-nav-right {
    right: 0;
}

#info-box {
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #FFC8B9;
    color: #B60E3B;
    border: solid 5px #B60E3B;
    border-radius: 20px;
}

#info #info-inside{
    display: grid;
    grid-template-columns: 40% 10% 35%;
    grid-gap: 2.5%;
}

#info-box #big {
    color: #262649;
}














/*STUFF*/

#stuff-box {
    background-color: #25295A;
    border: 7px red solid;
    border-radius: 20px;
    padding: 40;
    margin: 20 auto;
    margin-left: 15%;
    height: 300px;
    width: 80%;
}


        #stuff-box {
            overflow-y: auto;
            padding: 0;
            height: 85%;
        }

#stuff-box iframe{
     width: 100%;
    height: 100%;
    border: none;
}

#stuff-navigation {
    display: flex;
    width: 80%;
    margin: 20 auto;
    margin-left: 15%;
}

.stuff-mine{
    border: 3px solid deeppink;
    padding: 20px;
    margin: 20px auto;
}

.stuff-nav {
    display: flex;
    height: 20px;
    background-color: black;
    border: 5px #063BC0 solid;
    border-radius: 20px;
    text-align: center;
    padding: 10;
    margin: auto;
    transition: .4s;
    color: #063BC0;
    text-decoration: none;
    font-size: 1Em;
}

.stuff-nav:hover {
    background-color: #063BC0;
    border-color: deepskyblue;
    color: deepskyblue;
}



.stuff-nav-current,
.stuff-nav-current:hover {
    display: flex;
    height: 20px;
    background-color: white;
    border: 5px deeppink solid;
    border-radius: 20px;
    text-align: center;
    padding: 10;
    margin: auto;
    transition: .4s;
    color: deeppink;
    text-decoration: none;
    font-size: 1Em;
}










#tabs {
    height: 550px;
    display: grid;
    float: left;
    text-align: right;
    position: absolute;
    top: 100;
    left: 2%;
    font-size: .6Em;
    align-items: center;
    list-style: none;
}

#tabs img {
    height: 50px;
    position: relative;
    top: 30;
}

#tabs mark {
    background-color: black;
    color: white;
    padding: 10;
}

#tabs a {
    text-decoration: none;
}







.tabcontent {
    display: none;
    overflow: inherit;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tabcontent img {
    object-fit: contain;
}

.tablinks{
    cursor: pointer;
}





/*PROJECTS*/

#projects {
    background-color: #040A31;
    border: 5px solid #5B83D2;
    width: 80%;
    height: 500px;
    padding: 50px;
    margin-left:50%;
    transform: translate(-50%, 0);
    margin-top: 30;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 18% 7% 76%;
}


#character-box {
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: -50px;
    width: 70%;
    background-color: black;
    padding: 50 0;
}

#char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50;
}

#char img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    margin: auto;
}

#char:last-child {
    padding: 50;
}

.color-box {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
}



.gallery-container {
    height: 500;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.gallery {
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    grid-gap: 20px;
    padding: 50px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 50;
    transition: .4s;
    cursor: zoom-in;
    border: 5px solid black;
}

.gallery div.spoiler{
    position: relative;
}

.gallery div.spoiler img{
    filter: brightness(0);
    transition: .4s;
}
.gallery div.spoiler p{
    position: relative;
    top: -150px;
    color: white;
    transition: .4s;
}

.gallery div.spoiler:hover img{
    filter: brightness(0.6);
}
.gallery div.spoiler:hover p{
    color: transparent;
    display: none;
    
}

.gallery img:hover {
    filter: brightness(0.6);

}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

.popup img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.popup span {
    position: absolute;
    top: 50;
    right: 100;
    color: white;
}

#portfolio .gallery {
    width: 90%;
    overflow-x: hidden;
    display: block;
    text-align: center;
    text-align: center;
    display: grid;
    padding-left: 30;
}

#portfolio .gallery-container {
    width: 90%;
    overflow-y: scroll;
}

#pppp .gallery-container {
    height: auto;
    overflow: hidden;
}

#pppp .gallery {
    height: auto;
    overflow: hidden;
    padding: 20;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#pppp img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 0;
    transition: .4s;
    cursor: zoom-in;
    border: 5px solid black;
}






/*JOUNAL*/
#journal-navigation {
    display: block;
    position: fixed;
    width: 20%;
    left: 100;
    top: 100;
}

.journal-nav {
    display: block;
    margin-bottom: 20;
    background-color: #104051;
    width: 60%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 10;
    font-family: 'arcadeclassic';
    color: #7096A1;
    border: solid 5px #7096A1;
    border-radius: 20px;
    transition: .6s;
    font-size: .9Em;
}

.journal-nav:hover {
    background-color: #5DD4DC;
    border-color: white;
    color: white;
    letter-spacing: 2;
}

#journal-navigation a {
    text-decoration: none;
}

.journal-current, .journal-current:hover{
    background-color: #5DD4DC;
    color: #104051;
    border: solid 5px #104051;
}


.journal-box {
    background-color: white;
    padding: 20 50px;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'eggfont';
/*    text-transform: uppercase;*/
    background: white url(/images/dot-paper.png);
    background-position: center;
    border: 5px black solid;
}

div.two{
    display: flex;
}

.journal-box h1, .journal-box h2, .journal-box h3, .journal-box h4, .journal-box h5, .journal-box h6{
    font-family: 'eggfont';
}


