body {
    min-height: calc(100vh - 20px);
    padding: 10px 100px;
    align-content: center;
    background-color: black;
}

a {
    color: red;
    margin-bottom: 10px
}

mark{
    background-color: darkred;
}

a::before {
    content: "";
}

main {
    margin: auto;
    max-width: 600px;
    text-align: center;

    & a img {
        margin-bottom: 10px;
    }
}

.box {
    border: dashed 3px red;
    background-color: black;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: darkred;
    text-align: left;

    & b {
        color: red;
    }
}

#back {
    display: block;
    text-align: left;

}

h1 {
    color: white
}

h2,
h3,
h4,
h5,
h6 {
    color: red;
}

.char-gallery {
    text-align: center;
    padding-top: 30px;
}

.slides-container img {
    object-fit: contain;
    width: 90%;
    margin: auto;
}

.slides-cantainer a {
    margin: 5px !important
}

a.back {
    color: red !important;
    left: 10px !important;
}
a.forward {
    color: red !important;
    right: 10px !important;
}

.ref-button {
    color: darkred;
    display: block !important;
    position: absolute;
    left: 2;
    top: 5px;
    z-index: 10;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {

    body {
        padding: 10px;
    }
}
