@font-face {
    font-family: "syne mono";
    src:
        url("/fonts/synemono-regular-webfont.woff2") format("woff2"),
        url("/fonts/synemono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "staypuft";
    src:
        url("/fonts/staypuft-webfont.woff2") format("woff2"),
        url("/fonts/staypuft-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pomrumkiwi";
    src:
        url("/fonts/PopRumKiwi-Telop.woff2") format("woff2"),
        url("/fonts/PopRumKiwi-Telop.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenDyslexic";
    src:
        url("/fonts/OpenDyslexic-Regular.woff2") format("woff2"),
        url("/fonts/OpenDyslexic-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenDyslexic";
    src:
        url("/fonts/OpenDyslexic-Bold.woff2") format("woff2"),
        url("/fonts/OpenDyslexic-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/*COLOURS*/
:root {
    --colour: #181818;
    --accent-colour: blue;
    --accent-colour-hover: paleturquoise;
    --cats-display: none;
    --hell-display: none;
    --green-display: none;
    --neon-display: none;
    --underwater-display: none;
    --depths-display: none;
    scrollbar-color: var(--accent-colour) white;
    scrollbar-width: thin;
    image-rendering: pixelated;
}

:root[dyslexic="true"] {
    * {
        font-family: OpenDyslexic !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
}

:root {
    --primary-colour: #c6bda5;
    --colour: #201818;
    --accent-colour: #ce5229;
    --accent-colour-hover: darkred;
    --cats-display: block;
    --bg: url(/images/stars-snes.png);
    --fav: url(/graphics/pixels/heart.gif);
}

:root[theme="underwater"] {
    --primary-colour: mediumturquoise;
    --accent-colour: #db3c70;
    --accent-colour-hover: paleturquoise;
    --colour: #181818;
    --underwater-display: block;
    --cats-display: none;
    --bg: url(/images/underwater-snes.png);
    --fav: url(/graphics/pixels/vapo2.gif);
    --theme-filter: hue-rotate(-20deg) brightness(100%) contrast(90%) saturate(140%);
}

:root[theme="green"] {
    --colour: #181818;
    --primary-colour: DarkSeaGreen;
    --accent-colour: #1c6a8a;
    --accent-colour-hover: DarkSeaGreen;
    --green-display: block;
    --cats-display: none;
    --bg: url(/images/green-snes.png);
    --fav: url(/graphics/pixels/bun.gif);
    --theme-filter: hue-rotate(180deg) brightness(100%) contrast(100%) sepia(40%) saturate(140%);
}

:root[theme="hell"] {
    --primary-colour: #D3D2CE;
    --colour: black;
    --accent-colour: #c70d0d;
    --accent-colour-hover: darkred;
    --hell-display: block;
    --cats-display: none;
    --bg: url(/images/hell-snes.png);
    --fav: url(/graphics/pixels/ribbon.gif);
    --theme-filter: hue-rotate(0deg) brightness(80%) contrast(100%) sepia(20%) saturate(150%);
}

:root[theme="neon"] {
    --primary-colour: #E8FF7D;
    --colour: #EB05BD;
    --accent-colour: #5DE1CA;
    --accent-colour-hover: #63E4CE;
    --neon-display: block;
    --cats-display: none;
    --bg: url(/images/neon-snes.png);
    --fav: url(/graphics/pixels/neon%20stars.gif);
    --theme-filter: hue-rotate(260deg) brightness(90%) contrast(200%) saturate(170%);
}

:root[theme="depths"] {
    --primary-colour: black;
    --colour: #cfd8e9;
    --accent-colour: #15b3bc;
    --accent-colour-hover: #01769c;
    --depths-display: block;
    --cats-display: none;
    --bg: url(/images/depths-snes.png);
    --fav: url(/graphics/pixels/gleach_allen_pixel.gif);
    --theme-filter: hue-rotate(200deg) brightness(70%) contrast(150%) saturate(100%);
}

* {
    scrollbar-color: var(--accent-colour) white;
    scrollbar-width: thin;
    font-size: 100%;
}

a {
    margin: 0;
    color: var(--accent-colour);
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        color: var(--accent-colour-hover);
    }
}

a::before {
    content: var(--fav);
    height: 100%;
    filter: opacity(0);
    margin-right: 5px;
}

a:hover::before {
    filter: opacity(100)
}

a:has(h1, h2, h3, h4, h5, img, div, svg)::before {
    content: "";
}

ul {
    list-style: disc;
}

iframe {
    border: none;
}

::selection {
    color: white;
    background: var(--accent-colour);
}

::-moz-selection {
    color: white;
    background: var(--accent-colour);
}

.draggable {
    position: absolute;
    padding: 10px;
    z-index: 10;
}

body {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    background: var(--primary-colour);
    background-position: center;
    background-size: cover;
}

hr {
    border: none;
    border-top: 3px solid;
    border-color: var(--colour);
    width: 40%;
    margin: 10px auto;
}

.vr {
    border: none;
    border-left: 3px solid white;
    height: 50%;
    margin: auto;
}

mark {
    padding: 1;
}

/*FONTS*/

html {
    font-family: "syne mono", serif;
    font-weight: 100;
    font-style: normal;
    text-wrap: normal;
    color: var(--colour);
    font-size: 1em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "staypuft", "pomrumkiwi";
    font-style: normal;
    text-align: center;
    font-weight: 300;
    margin: 10px 0 10px 0;
}


h6 {
    font-size: 100%;
}

h5 {
    font-size: 150%;
}

h4 {
    font-size: 200%;
}

h3 {
    font-size: 250%;
}

h2 {
    font-size: 300%;
}

h1 {
    font-size: 350%;
}

p,
li,
a {
    margin: 10 0;
}



.confetti {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}




.slides-container {

    width: auto;
    max-width: 600px;
    margin: auto;
    height: auto;
    position: relative;
    aspect-ratio: 3/2;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: fade 10s ease-in-out;
    }

    & a {
        position: absolute;
        height: 100%;
        width: 5%;
        top: 0;
        align-content: center;
        color: transparent;
    }

    & .back {
        left: -10px;
        color: white;
    }

    & .forward {
        right: 0;
        color: white;
    }

    & .dots {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;

        & .dot {
            cursor: pointer;
            background-color: rgba(30, 18, 118, 0.32);
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: inline-block;
            margin: auto;
            border: 1px solid white;
            transition: 1s;

            &:hover {
                background-color: #001145;
            }

            &.active {
                background-color: white;
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }

    5% {
        opacity: 100
    }

    95% {
        opacity: 100
    }

    100% {
        opacity: 0
    }
}
