body {
    background-color: #1c1c1c;
    color: darkgray;
    height: 100vh;
    align-content: center;
    align-items: center;
    align-self: center;
}

img {
        max-width: calc(100% - 10px);
        margin: auto;
        object-fit: cover;
    }

main {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: aliceblue;
    text-align: left;
}

.create-link {
    all: unset;
    cursor: pointer;
    background-color: palegoldenrod;
    text-align: center;
    padding: 5px;
    margin: 7px;
    box-shadow: -5px 5px lightgoldenrodyellow;
    transform: translate(0, 0);
    transition: .2s;

    &:hover {
        box-shadow: -5px 10px lightgoldenrodyellow;
        transform: translate(0, -5px);
    }

    & img {
        width: calc(100% - 10px);
        margin: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    & p {
        margin: 2px;
    }
}

.white-bg{
    box-shadow: -5px 5px lightgoldenrodyellow;

    &:hover {
        box-shadow: -5px 10px lightgoldenrodyellow;
    }
}

.pink-bg{
    box-shadow: -5px 5px lightpink;

    &:hover {
        box-shadow: -5px 10px lightpink;
    }
}

.blue-bg{
    box-shadow: -5px 5px paleturquoise;

    &:hover {
        box-shadow: -5px 10px paleturquoise;
    }
}

.green-bg{
    box-shadow: -5px 5px palegreen;

    &:hover {
        box-shadow: -5px 10px palegreen;
    }
}

.yellow-bg{
    box-shadow: -5px 5px palegoldenrod;

    &:hover {
        box-shadow: -5px 10px palegoldenrod;
    }
}
